sudo: require
language: go
services:
 - docker

install:
 - sudo mkdir -p "/etc/docker/certs.d/${DOCKER_REGISTORY}/"
 - curl -d "'{\"domain\":\"${CFSSL_TARGET_DOMAIN}\"}'" "http://${CFSSL_DOMAIN}/api/v1/cfssl/info" |jq -r .result.certificate |sudo tee "/etc/docker/certs.d/${DOCKER_REGISTORY}/ca.crt"
 - sudo apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
 - echo "deb https://apt.dockerproject.org/repo ubuntu-precise main" | sudo tee /etc/apt/sources.list.d/docker.list
 - sudo apt-get update
 - sudo apt-get install docker-engine
 - sudo docker login --email "${DOCKER_EMAIL}" --password "${DOCKER_PASSWORD}" --username "${DOCKER_USER}" "${DOCKER_REGISTORY}"

script:
  - go build -o travisci-docker-test
  - sudo docker build -t ${DOCKER_REGISTORY}/${DOCKER_USER}/travisci-docker-test .
  - sudo docker push "${DOCKER_REGISTORY}/${DOCKER_USER}/travisci-docker-test"
