sudo: require
language: go
services:
 - docker

install:
 - sudo apt-key adv --keyserver hkp://pgp.mit.edu:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
 - echo "deb https://apt.dockerproject.org/repo ubuntu-precise main" | sudo tee /etc/apt/sources.list.d/docker.list
 - sudo apt-get update
 - sudo apt-get install docker-engine

before_script:
  - sudo docker daemon -H tcp://localhost:12345 &
  - sleep 5

script:
  - docker -H tcp://localhost:12345 build -t hatotaka/travisci-docker-test .
